{{ form_start(form) }}
     {% if false == form.vars.valid %}
         {% include 'includes/_base_alert.html.twig' with {"type": "danger", "message": "message.form_error"} %}
     {% endif %}
    {{ form_widget(form) }}
    <div class="pull-right">
        <a  href="{{ path }}" class="btn btn-default">{{ "Back"|trans }}</a>
        <input class="btn  btn-accept" type="submit" value="{{ submitValue |trans }}" />
    </div>
{{ form_end(form) }}

{{ tinymce_init() }}