<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li><a href="{{ path('fos_user_profile_show') }}">{{ "My Profile & Account"|trans }}</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">{{ "Edit Account"|trans }}</a></li>
            <li><a href="{{ path('edit_user_profile') }}">{{ "Edit Profile"|trans }}</a></li>
            <li><a href="{{ path('fos_user_change_password') }}">{{ "Change Password"|trans }}</a></li>
            <li><a href="{{ path('settings_edit') }}">{{ "Settings"|trans }}</a></li>

        </ul>
    </div>

</div>