{% extends 'base.html.twig' %}

{% block pageHeader %}Event {{ event.title }}{% endblock %}

{% block pageActions %}
    <a class="btn btn-default" href="{{ path('event_index') }}">Back to the list</a>
    <a class="btn btn-default" href="{{ path('note_add_to_event' , {'event': event.id}) }}"><span class="glyphicon glyphicon-list-alt"></span> Add note</a>
    <a class="btn btn-default" href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#deleteModal">
        Delete
    </button>
{% endblock %}

{% block body %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ event.id }}</td>
                </tr>
                <tr>
                    <th>Startdate</th>
                    <td>{% if event.startDate %}{{ event.startDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Starttime</th>
                    <td>{% if event.startTime %}{{ event.startTime|date('H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Enddate</th>
                    <td>{% if event.endDate %}{{ event.endDate|date('Y-m-d') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Endtime</th>
                    <td>{% if event.endTime %}{{ event.endTime|date('H:i:s') }}{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
           Description
        </div>

        <div class="panel-body">
            {{ event.description |raw }}
        </div>
    </div>

    <div class="notes">
        {% include 'includes/_notes_group.html.twig' with {"notes": event.notes} only %}
    </div>

    {% include 'includes/_delete_modal.html.twig' with {"delete_form": delete_form} only %}

{% endblock %}
